{% extends 'base.html' %}

{% block title %}
    <title>Тест</title>
{% endblock %}

{% block body %}
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <h2>Диагностика уровня готовности к профессиональной самореализации</h2>
          <p class="lead">
              <i>Профессиональная самореализация педагога – персональная стратегия профессиональной деятельности педагога,
              совершенствования его личностных качеств, развития профессиональных компетенций, выстраиваемая на основе
                  самопознания, самоактуализации, самоидентификации, самопроектирования, самоорганизации и самопрезентации.</i>
              <br><br>
              <b>Оцените себя по 10-балльной шкале по каждому показателю и определите уровень сформированности у себя
                  готовности к профессиональной самореализации.</b>
          </p>
        </div>

        <div class="row g-5">

          <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">Справочно</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                <div style="padding-right: 20px">
                  <h6 class="my-0" style="text-align: justify">Наличие качества, умения, навыка в большой степени</h6>
                </div>

                <span class="text-muted" style="text-align: center">9–10 баллов</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                <div  style="padding-right: 20px">
                  <h6 class="my-0"  style="text-align: justify">Обладание необходимыми качествами, умениями и навыками, но не в достаточной степени</h6>
                </div>
                <span class="text-muted" style="text-align: center">6-8 баллов</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                <div style="padding-right: 20px">
                  <h6 class="my-0"  style="text-align: justify">Качества и умения проявляются или развиты слабо</h6>
                </div>
                <span class="text-muted" style="text-align: center">4-5 баллов</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                <div style="padding-right: 20px">
                  <h6 class="my-0"  style="text-align: justify">Качества и умения практически не развиты</h6>
                </div>
                <span class="text-muted" style="text-align: center">1-3 баллов</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                <div style="padding-right: 20px">
                  <h6 class="my-0"  style="text-align: justify">Названные качества и умения отсутствуют, вы не считаете необходимым их развивать</h6>
                </div>
                <span class="text-muted" style="text-align: center">0 баллов</span>
                </li>

            </ul>
          </div>

          <div class="col-md-7 col-lg-8">

            <form class="needs-validation" novalidate="" method="post">
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div style="padding-right: 20px">
                            <label class="form-label" style="text-align: justify">Ваш пол</label>
                        </div>
                        <div class="my-3">
                            <div class="form-check">
                                <input id="man" name="sex" type="radio" class="form-check-input" checked="" required="" value="Мужской">
                                <label class="form-check-label" for="credit">Мужской</label>
                            </div>
                            <div class="form-check">
                                <input id="woman" name="sex" type="radio" class="form-check-input" required=""  value="Женский">
                                <label class="form-check-label" for="debit">Женский</label>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div style="padding-right: 20px">
                            <label class="form-label" style="text-align: justify">Категория</label>
                        </div>
                        <select class="form-select" name="category" required style="width: 190px; height: 40px">
                                <option value="">Выберите...</option>
                                    <option value="учитель-методист">учитель-методист</option>
                                    <option value="высшая категория">высшая категория</option>
                                    <option value="первая категория">первая категория</option>
                                    <option value="вторая категория">вторая категория</option>
                                    <option value="без категории">без категории</option>
                                    <option value="молодой педагог">молодой педагог</option>
                            </select>
                    </li>

                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div style="padding-right: 20px">
                            <label class="form-label" style="text-align: justify">Месторасположение учреждения образования</label>
                        </div>
                        <div class="my-3">
                            <div class="form-check">
                                <input id="man" name="locality" type="radio" class="form-check-input" checked="" required="" value="Городская местность">
                                <label class="form-check-label" for="credit">Городская местность</label>
                            </div>
                            <div class="form-check">
                                <input id="woman" name="locality" type="radio" class="form-check-input" required=""  value="Сельская местность">
                                <label class="form-check-label" for="debit">Сельская местность</label>
                            </div>
                        </div>
                    </li>
                </ul>

                {% set q3 = questions %}
                {% for h, question in questions.items() %}
                    {% set ind = loop.index %}
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <h4 class="mb-3">{{ h }}</h4>
                        </li>

                        {% for q in question[1:] %}
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div style="padding-right: 20px">
                            <label class="form-label" style="text-align: justify">{{ q }}</label>
                            </div>
                            <select class="form-select" name="{{ ind }}-{{ loop.index }}" required style="width: 128px; height: 40px">
                                <option value="">Выберите...</option>
                                {% for i in range(question[0], -1, -1) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Пожалуйста, проверьте введенную информацию
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                {% endfor %}

                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="submit">Отправить</button>
            </form>
          </div>


          </div>
        </div>
      </main>
    </div>
{% endblock %}